@font-face {
	font-family: 'Playfair';
	src: url('../fonts/playfairdisplay-variablefont_wght-webfont.woff')
		format('woff');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

body {
	font-family: 'Playfair';
	text-align: center;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

// Header
.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0;
	flex-wrap: wrap;
	.header-logo {
		width: 150px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	ul {
		display: flex;
		align-items: center;
		gap: 20px;
		a {
			font-family: 'Playfair';
			font-size: 17px;
			text-transform: uppercase;
			transition: font-weight 0.2 ease-in;

			&:hover {
				font-weight: bolder;
			}
		}
	}
}

// Hero
.hero {
	padding: 80px 0;
	.hero-title {
		font-family: 'Playfair';
		font-size: 35px;
		color: rgb(39, 39, 39);
		text-transform: uppercase;
		margin-bottom: 60px;
		font-weight: bolder;
	}
	.hero-text {
		width: 70%;
		font-family: 'Playfair';
		color: rgb(39, 39, 39);
		font-size: 18px;
		line-height: 28px;
		padding-bottom: 30px;
		margin: 0px auto 28px;
		border-bottom: 2px solid rgb(187, 187, 187);
	}

	h2 {
		color: rgb(38, 37, 37);
		font-size: 25px;
		text-transform: uppercase;
		margin-bottom: 35px;
	}

	.hero-carts {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;

		.hero-cart {
			position: relative;
			overflow: hidden;
			cursor: pointer;
			aspect-ratio: 1/1;
			width: 500px;
			height: 500px;
			border-radius: 4px;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0);
				transition: background 0.2s linear;
			}

			&:hover::after {
				background: rgba(0, 0, 0, 0.5);
			}

			.card-text {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				transition: opacity 0.3s ease-in-out;
				z-index: 2;

				p {
					color: #f3f3f3;
					font-size: 22px;
					line-height: 40px;
					font-weight: 400;
				}
			}

			&:hover .card-text {
				opacity: 1;
			}
			img {
				border-radius: 4px;
				width: 100%;
				height: 100%;
			}
		}
	}
}

// Footer
.footer {
	padding-bottom: 20px;
	p {
		font-family: 'Playfair';
		color: rgb(39, 39, 39);
		font-size: 18px;
		line-height: 28px;
		font-weight: 500;
		a {
			font-size: 18px;
			line-height: 28px;
			color: rgb(91, 91, 91);
			transition: font-weight 0.2s ease-out, text-decoration 0.2s ease-out;

			&:hover {
				text-decoration: underline;
				color: rgb(31, 31, 31);
				font-weight: bold;
			}
		}
	}
}

@media (max-width: 1060px) {
	.hero {
		.hero-carts {
			.hero-cart {
				width: 45%;
				height: 400px;
			}
		}
	}
}

@media (max-width: 640px) {
	.header-wrapper {
		flex-direction: column;
	}

	.hero {
		.hero-carts {
			flex-direction: column;
			gap: 20px;
			.hero-cart {
				width: 80%;
				height: 500px;
			}
		}
	}
}
